/* GLOBAL RULES */

* {
  box-sizing: border-box;
}

/* POUR MASQUER LA SCROLLBAR */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.logo {
  width: 100px;
  height: auto;
  margin-left: 50px;
  margin-bottom: 20px;
}

.container {
  margin: 0px 0px 40px 50px;
  color: white;
}

.category {
  color: white;
  font-size: 20px;
  font-weight: 700px;
  margin-bottom: 20px;
}

.movie-list {
  display: flex;
  overflow-x: auto;
}

.movie-list img {
  width: 220px;
}
